
    <title>Mini Goals | Bryant's Webpage</title>
<h1>Mini Goals</h1>
        <ul>
        	<li>Have fun with <a href="http://www.theodinproject.com/">The Odin Project</a></li>
        	<li>Have fun with Coding Bat</li>
        	<li>Have fun with Meetups and give my first talk soon...</li>
        	<li>Have fun with making this Vision Board more <em>FABULOUS</em> as I gain more skills</li>
        </ul>

                <div id="heroes">
        <%= link_to image_tag("heroes.jpg", alt: "Heroes",  class:"img-responsive" ) %>
                </div>
