<% provide(:title, "Timer") %>

<h1>Timer</h1>

<!-- used with javascript and jquery functions -->
<!-- <div>Registration closes in <span id="time"></span> minutes!</div> -->



<div id='countdown'></div>

<input type="button" value="reset" id="reset" />
<input type="button" value="start" id="start" />
